<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1><strong>Team Name:</strong>
      <%= @team_name %>
    </h1>
    <p><strong>Coach:</strong>
      <%= @coach %>
    </p>
    <p><strong>Point Guard:</strong>
      <%= @point_guard %>
    </p>
    <p><strong>Shooting Guard:</strong>
      <%= @Shooting_guard %>
    </p>
    <p><strong>Small Forward:</strong>
      <%= @small_forward %>
    </p>
    <p><strong>Power Forward:</strong>
      <%= @power_forward %>
    </p>
    <p><strong>Center:</strong>
      <%= @center %>
    </p>


 </body>
</html>


